<html>
	<head>
		<title>update Emp</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	</head>
	<body>
		<div id="wrap">
			<div id="top_content">
				<div id="header">
					<div id="rightheader">
						<p>
							2009/11/20
							<br />
						</p>
					</div>
					<div id="topheader">
						<h1 id="title">
							<a href="#">Main</a>
						</h1>
					</div>
					<div id="navigation">
					</div>
				</div>

				<div id="content">
					<p id="whereami">
					</p>
					<h1>
						User Detail:
					</h1>
					<table class="table">
						<tr>
							<td>
								姓名
							</td>
							<td>
								电话
							</td>
						</tr>
						<tr>
							<td>
								{{ username }}
							</td>
							<td>
								{{ phone }}
							</td>
						</tr>
					</table>
					<h1>
						对方要求:
					</h1>
					<table>
						<tr>
							<td colspan="2">
								<textarea cols="80" style="border:0px;resize:none;">{{ ask }}</textarea>
							</td>
						</tr>
					</table>
					<br/>
					<h1>
						Load Photo:
					</h1>
						<form action="/uploadphoto/" method="post"
							enctype="multipart/form-data">
							Upload File Name:
							<input type="file" name="file1" />
							<input type="submit" value="confirm" />
						</form>
					<h1>
						view photo:
					</h1>
					<table>
                        <tr>
                            <td>
                                <img src="../static/img/nane.gif" width="300"
                                    height="200" />
                            </td>
                        </tr>
					</table>
				</div>
{#				<input type="button" onclick="location='userList.html'" value="查看所有用户"/>#}
                <a href="{% url 'myapp:grade' grade=1 %}">查看所有班级</a>
			</div>
			<div id="footer">
				<div id="footer_bg">
					ABC@126.com
				</div>
			</div>
		</div>
	</body>
</html>
